@font-face {
    font-family: "bahnschrift";
    src: url(../font/bahnschrift.ttf) format("true type");
    
    font-family: "marcellus";
    src: url(../font/Marcellus-Regular.ttf) format("true type");
    
    font-display: swap;
}