@import url(./font.scss);
body {
  margin: 0 auto;
  font-family: "marcellus";
  font-size: 15px;
  color: #2c2c2c;
}

.flex, main, main .div2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.divHead {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 80px;
}

.divHead .divH1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.divHead .divH1 a {
  text-decoration: none;
  color: #9b9b9b;
  font-size: 0.65em;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.divHead .divH1 a:hover {
  color: black;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.divHead .divH1 a .linkTxt {
  margin-top: 5px;
  margin-bottom: 5px;
}

.divHead .divH1 h6 {
  margin-bottom: 5px;
}

.divHead .divH1_bis {
  display: none;
}

.divHead .divH2 {
  display: none;
}

main {
  position: relative;
  margin: auto;
  width: 19.4em;
}

main .div1 {
  border-bottom: 0.1px solid #2c2c2c;
  margin-bottom: 30px;
  width: 19.4em;
}

main .div1 h1 {
  font-size: 1.7em;
  text-align: center;
}

main .div2 {
  width: 19.4em;
}

main .div2 img {
  width: 19.4em;
  height: auto;
  margin: 0 auto;
}

main .div3 {
  border-top: 0.1px solid black;
  border-bottom: 0.1px solid black;
  margin: 30px auto;
  width: 19.4em;
}

main .div3 blockquote {
  margin-left: 0;
  margin-right: 0;
  text-align: left;
}

main .div3 .total_quotes {
  text-align: right;
  font-size: 0.8em;
}

footer {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

footer .h6_footer {
  margin-top: 7px;
}

footer .p_footer {
  font-size: 0.65em;
  margin-top: 7px;
}

@media only screen and (max-width: 478px) {
  .divHead .divH1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .divHead .divH1 .rand {
    width: auto;
    border-top: 1px solid black;
    position: absolute;
    top: 50px;
    padding-top: 5px;
    padding-right: 25px;
  }
  main {
    width: 14em;
  }
  main .div1 {
    width: 14em;
  }
  main .div2 {
    width: 14em;
  }
  main .div2 img {
    width: 14em;
  }
  main .div3 {
    width: 14em;
  }
  footer .rand {
    width: 75px;
    border-top: 1px solid black;
    margin-top: 15px;
    padding-top: 5px;
  }
  footer .p_footer {
    margin-top: 15px;
    padding-top: 5px;
  }
  .div_footer {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 17px;
  }
  .divHead {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 80px 50px 30px 40px;
  }
  .divHead .divH1 {
    display: none;
  }
  .divHead .divH1_bis {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 5px;
  }
  .divHead .divH1_bis h6 {
    margin-top: 0;
    font-size: 2.4em;
    font-weight: 900;
    margin-bottom: 5px;
  }
  .divHead .divH1_bis a {
    font-size: 0.7em;
    text-decoration: none;
    color: #9b9b9b;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .divHead .divH1_bis a:hover {
    color: black;
    -webkit-transform: translateX(13px) scale(1.1);
            transform: translateX(13px) scale(1.1);
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  .divHead .divH1_bis a .linkTxt {
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .divHead .divH2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .divHead .divH2 h6 {
    margin-top: 0;
    font-size: 2.4em;
    font-weight: 900;
    margin-bottom: 5px;
  }
  .divHead .divH2 .p_footer {
    font-size: 0.7em;
    margin-top: 2px;
    color: #9b9b9b;
  }
  main {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  footer {
    padding-top: 80px;
    border-top: 1px solid black;
  }
  footer .h6_footer {
    display: none;
  }
  footer .p_footer {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */